.btn {
    padding: 10px 15px;
    min-width: 155px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    transition: background-color .2s ease;
}

.btn-primary {
    color: #fff;
    background-color: $gold;
    &:hover, &:active, &:focus {
        background-color: $dark-gold;
        &:active, :focus {
            background-color: $dark-gold;
        }
    }
}

.btn-secondary {
    color: $blue;
    background-color: transparent;
    border: 2px solid $blue;
    a {
        color: $blue;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover, &:active, &:focus {
        color: #fff;
        background-color: $blue;
        a {
            color: #fff;
        }
        &:active, :focus {
            color: #fff;
            background-color: $blue;
        }
    }
}