.btn {
    padding: 10px 15px;
    min-width: 155px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    transition: background-color .2s ease;
}

.btn-primary {
    @include btn-primary($gold)
}

.btn-secondary {
    @include btn-secondary($blue);
}