.study-listing {
    padding: 25px 15px 0;
    .study-title {
        margin: 0 0 6px 0;
        font-size: 24px;
        a {
            color: $blue;
        }
    }
    .meta-data {
        margin: 0;
        color: $gray;
        font-size: 14px;
    }
    .excerpt {
        font-family: $serif;
        margin: 15px 0;
        a {
            font-family: $sans-serif;
        }
    }
    &:after {
        content: ' ';
        display: block;
        margin: 25px 0 0;
        background-color: $lightgray;
        height: 1px;
    }

}