.study-listing {
    margin: 25px 0;
    .study-title {
        margin: 0 0 6px 0;
        font-size: 24px;
    }
    .meta-data {
        margin: 0;
        color: $gray;
        font-size: 14px;
    }
    .excerpt {
        margin: 15px 0;
    }


}