html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: $blue;
}

section, header {
    padding: 25px;
    .section-title {
        color: #333;
        text-align: center;
        margin: 25px 0 50px 0;
        font-size: 64px;
    }
}

#landing-page {
    height: 100%;
    width: 100%;
}