/*
-----------------------------------
| Theme Variables
-----------------------------------
*/

// Colors

$teal: #4DB6AC;
$orange: #FFB74D;
$cyan: #00BCD4;
$cyan-hover: #00ACC1;
$grayblue: #607D8B;
$gray: #E0E0E0;

// Styling
$box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);


