.card {
    padding: 25px 50px;
    background-color: #fff;
    box-shadow: $box-shadow;
    margin: 10px 20px 20px 20px;
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
    a[href="#revisions"] {
        color: $blue;
    }
    .card-header {
        display: flex;
        justify-content: flex-start;
        margin: -25px -50px 25px -50px;
        padding: 25px 50px 25px 50px;
        border-bottom-style: solid;
        border-bottom-color: $light-gray;
        border-bottom-width: 1px;
        &.nav-tabs {
            justify-content: center;
            padding-bottom: 0;
        }
        .card-icon {
            align-self: center;
            font-size: 16px;
            margin: 0 10px 0 0;
        }
        .checked-count {
            align-self: center;
            margin-right: 10px;
            color: #777;
            font-style: oblique;
        }
        .right {
            display: flex;
            margin-left: auto;
            align-self: center;
            .card-options {
                font-size: 14px;
                color: $charcoal;
                a {
                    color: $blue;
                }
                .dropdown-menu {
                    right: 0;
                    left: unset;
                    border-radius: 2px;
                    .trash {
                        color: $red;
                    }
                    .restore {
                        color: $gray;
                    }
                }
            }
        }
    }
    .card-body {

    }
    .card-footer {
        @extend .card-header;
        margin: 25px 0 0;
        padding: 25px 25px 0 25px;
        border: none;
        border-top: 1px solid $light-gray;
    }
}