.card {
    padding: 25px 50px;
    background-color: #fff;
    box-shadow: $box-shadow;
    margin: 0 0 20px 0;
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
    .card-header {
        display: flex;
        justify-content: flex-start;
        margin: -25px -50px 25px -50px;
        padding: 25px 50px 25px 50px;
        border-bottom-style: solid;
        border-bottom-color: $light-gray;
        border-bottom-width: 1px;
        .card-icon {
            align-self: center;
            font-size: 16px;
            margin: 0 10px 0 0;
        }
        .left {
            display: flex;
            margin-left: auto;
            .checked-count {
                align-self: center;
                margin-right: 10px;
                color: #777;
                font-style: oblique;
            }
            .card-options {
                font-size: 14px;
                align-self: center;
                color: $charcoal;
                a {
                    color: $blue;
                }
                .dropdown-menu {
                    right: 0;
                    left: unset;
                    border-radius: 2px;
                    .trash {
                        color: $red;
                    }
                    .restore {
                        color: $gray;
                    }
                }
            }
        }
    }
}