#nav {
    color: #fff;
    background-color: $grayblue;
    border: none;
    a {
        color: #fff;
    }
    .side-nav {
        top: 50px;
        background-color: $grayblue;
        li {
            a {
                color: #fff;
                &:hover {
                    background-color: transparent !important; //override sbadmin
                    color: #eee;
                    font-weight: 500;
                }
                &:focus {
                    background-color: transparent !important; //override sbadmin
                }
            }
        }
    }
    .navbar-right {
        .dropdown {
            a {
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #eee;
                }
                &:focus {
                    background-color: transparent;
                }
            }
            .dropdown-menu {
                color: $charcoal;
                li a {
                    color: $charcoal;
                }
            }
        }
    }
}