//colors
$gray: #848484;
$lightgray: #eee;
$lightlightgray: #F9F9F9;

$gold: #f7cc30;
$dark-gold: #D2AD2A;

$blue: #05375f;
$lightblue: #bcd4ee;

// fonts
$serif: 'Droid Serif', sans-serif;
$sans-serif: 'Merriweather Sans', 'Helvetica', sans-serif;

// misc. styling
$box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);

