#search {
    @include flexwrap(column)
    padding-top: 0;
    width: 100%;
    .search-wrap {
        width: 50%;
        .keyword {
            width: 90%;
            .keyword-search {
                @include flexwrap(row);
                .search {
                    background-color: $gold;
                    border: none;
                    border-radius: 0;
                    color: #fff;
                    height: 50px;
                    width: 75px;
                }
                .keyword-search-field {
                    border: 1px solid $gold;
                    border-radius: 0;
                    height: 50px;
                    font-size: 18px;
                }
            }
        }
        .other-search-options {
            font-size: 16px;
            font-weight: 700;
            a {
                color: #fff;
            }
        }
    }
}

